<div class="container">
  <div class="contact-section">
    <h1>Contact us</h1>
    <form action="">
      <div>
        <label for="name">Enter Your Name</label>
        <input type="text" name="name" placeholder="Enter your name">
      </div>
      <div>
        <label for="email">Enter Your Email</label>
        <input type="text" name="email" placeholder="Enter your email">
      </div>
      <div>
        <label for="phone">Enter Phone Number</label>
        <input type="text" name="phone" placeholder="Enter phone number">
      </div>
      <div>
        <label for="address">Enter Your Address</label>
        <input type="text" name="address" placeholder="Enter your address">
      </div>
      <div>
        <label for="message">Type Your Concern</label>
        <textarea name="message" rows="5"></textarea>
      </div>
      <div>
      <button type="submit">Submit</button>
    </div>
    </form>
    <div class="hr-color">
      <hr class="hr-1">
      <hr class="hr-2">
      <hr class="hr-3">
    </div>
    <div class="contact-info">
      <h2>Contact Info:</h2>
      <p>Anisabad, patna - 2</p>
      <p>+91 95073*****</p>
      <p>+91 950*******</p>
    </div>
  </div>
  <!-- footer  -->
</div>
<footer>
  <p>Copyright © www.johnrestaurant.com. All rights reserved! || 2021</p>
  </footer>
