.logo{
  width: 55px;
  border-radius: 50%;
  position: relative;
  left: 25px;
  display: block;
  border: none;
  outline: none;
}
.navbar{
  display: flex;
  /* border: 2px solid red; */
  background-color: rgba(7, 7, 128, 0.807);
  align-items: center;
}
.navbar ul{
  display: flex;
  position: relative;
  left: 100px;
}
.navbar ul li{
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  padding: 17px 12px;
  font-size: 1.1rem;
  display: block;
  color: white;
  cursor: pointer;
}
.navbar ul li a:hover{
  background-color: black;
  color: red;
}
.active{
  /* background-color: red; */
}
a.active{
  /* color: red; */
}


.burger{
  position: absolute;
  right: 15px;
  top: 10px;
  display: none;
}
.burger .line{
  width: 40px;
  height: 4px;
  margin: 3px 0;
  background-color: white;

}

/* /// responsiveness css /// */
@media only screen and (max-width: 600px) {
.navbar{
  flex-direction: column;
}
.navbar .logo{
  position: relative;
  left: -245px;
}
.navbar ul{
  flex-direction: column;
  position: relative;
  left: 50px;
  top: -45px;
  /* display: none; */
}
.burger{
  display: block;
}
.navbar ul li a{
  padding: 10px 30px;

}
}
