.logo{
  width: 55px;
  border-radius: 50%;
  position: relative;
  left: 25px;
  display: block;
  border: none;
  outline: none;
}
.nav-link{
  padding: 16px 5px;
}
.nav-item .nav-link:hover{
  color: red;
  background: grey;
}
