<div class="container">
  <!------- First-section --------->
  <section class="first-section" id="home">
    <div class="overlay">
      <div class="first-sec">
        <h1>Welcome To John Restaurant</h1>
        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque deserunt obcaecati animi, labore mmodi cum ullam! Dicta, nostrum.  dolor, nemo libero debitis magnam laborum! Consequuntur quae dignissimos aliquid cum repellendus modi velit.</h3>
        <button type="submit">Order Now</button>
      </div>
  </div>
  </section>
  <!------- Second-section --------->
  <section class="second-section" id="services">
    <div class="service-section">
      <h1>Our Services</h1>
      <div>
        <div class="service-item">
          <img class="service-img" src="../../assets/images/1.png" alt="">
          <h2>Food Catering</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore porro quas ut eum magnam dolore praesentium obcaecati accusantium consequuntur illum nihil, et dolor ratione tempore in inventore necessitatibus! Velit?</p>
        </div>
        <div class="service-item">
          <img class="service-img" src="../../assets/images/2.png" alt="">
          <h2>Bulk Ordering</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore porro quas ut eum magnam dolore praesentium obcaecati accusantium consequuntur illum nihil, et dolor ratione tempore in inventore necessitatibus! Velit?</p>
        </div>
        <div class="service-item">
          <img class="service-img" src="../../assets/images/3.png" alt="">
          <h2>Food Ordering</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore porro quas ut eum magnam dolore praesentium obcaecati accusantium consequuntur illum nihil, et dolor ratione tempore in inventore necessitatibus! Velit?</p>
        </div>
      </div>
    </div>
  </section>
  <!------- third-section --------->
  <section class="third-section" id="clients">
    <div class="client-section">
      <div>
        <h1>Our Clients</h1>
        <div class="client-img">
          <div>
            <img src="../../assets/images/logo1.png" alt="">
            <img src="../../assets/images/logo2.png" alt="">
            <img src="../../assets/images/logo3.png" alt="">
            <img src="../../assets/images/logo4.png" alt="">
            <img src="../../assets/images/fb.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ------ Fourth Section ------- -->
  <section class="fourth-section" id="about">
    <div>
      <h1>About us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa totam, est nemo explicabo tempora ipsam modi iste, dolore iusto, possimus itaque facilis a iure aspernatur doloribus officia quas! Atque!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad repellendus incidunt inventore cumque necessitatibus magni, aut perspiciatis. Ab itaque deserunt dignissimos earum porro error laboriosam non consectetur quisquam ratione!</p>
    </div>
  </section>

  <!-- footer  -->
  <footer>
    <p>Copyright © www.johnrestaurant.com. All rights reserved! || 2021</p>
    </footer>

</div>
