.container{
  background: url('../../assets/images/contact.jpg');
  /* height: 86.2vh; */
  height: 624px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.container>.contact-section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 251, 251, 0.5);
}
h1{
  text-align: center;
  padding: 15px 0 10px 0;
  font-family: cursive;
}
form div{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 3px;
}
form div label,input,button,textarea{
  padding: 5px 5px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
}
label{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
textarea{
  resize: none;
}
form button{
  background-color: yellowgreen;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  margin: 5px 0;
}
form button:hover{
  background-color: red;
  color: white;
}
.hr-color{
  display: flex;
}
hr{
  margin: 5px 0;
  width: 80%;
  padding: 3px;
  border: none;
}
.hr-1{
  background-color: red;
}
.hr-2{
  background-color: green;
}
.hr-3{
  background-color: blue;
}
.contact-info{
  width: 70%;
  margin: auto;
  margin-top: 8px;
}
/* footer  */
footer{
  background-color: black;
  color: white;
}
footer p{
  font-size: 1rem;
  padding: 10px;
  padding-bottom: 15px;
  display: block;
  text-align: center;
}
